name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  release:
    uses: sangrita-tech/platform-ci/.github/workflows/release.yml@v1.3.0
    permissions:
      contents: write
      packages: write
